In [1]:
import sys
import keyword
import operator
from datetime import datetime
import os

In [2]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist)

35

###### Identifiers


identifier1=30

In [5]:
identifier_1=40

In [7]:
identifier 1=40 # gives error because name identifier 1 is not valid

SyntaxError: invalid syntax (2488659358.py, line 1)

##### '''Practise 1 for multiline comments'''
Val1 = 19

In [10]:
'Practise for 
Multiline
Comments' # throw error as '' not allowed for multiple line comments


VAL1 = 89

SyntaxError: unterminated string literal (detected at line 1) (2530759151.py, line 1)

In [11]:
"""Practise for 
Multiline
Comments"""

Val1 = 88

#### DATATYPES

In [12]:
val1=12
print(val1)

12

In [13]:
print(type(val1))

<class 'int'>

In [14]:
print(sys.getsizeof(val1))

28

In [18]:
print(val1, "is integer?", isinstance(val1, int))

12 is integer? True

In [23]:
num3=66.89
print(num3)

66.89

In [24]:
print(type(num3))

<class 'float'>

In [25]:
print(num3, "is not float?")

66.89 is not float?

In [26]:
print(num3, "is float?", isinstance(num3, float))

66.89 is not float? True

In [27]:
sys.getsizeof(float())

24

##### Boolean

In [41]:
bool1 = True

In [42]:
bool2 = False

In [43]:
print(type(bool1))

<class 'bool'>

In [44]:
print(type(bool2))

<class 'bool'>

In [45]:
print(bool1, "is boolean", isinstance (bool1, bool))

True is boolean True

###### String

In [46]:
string1= "My name is Shikha"
print(string1)

My name is Shikha

In [47]:
string2= "Starting with Python"
print(string2)

Starting with Python

In [48]:
string3= "studying in best
              Institute"

SyntaxError: unterminated string literal (detected at line 1) (1505152428.py, line 1)

In [52]:
string3= '''studying in best
              Institute'''
print(string3)

studying in best
              Institute

In [53]:
string_4= ('Lily'
          'pansy'
          'marrigold'
          'rose'
          'dahilia')  
print(string_4)

Lilypansymarrigoldrosedahilia

In [56]:
string_4= ('Lily ' 
          'pansy '
          'marrigold '
          'rose '
          'dahilia')  
print(string_4)

Lily pansy marrigold rose dahilia

In [58]:
string_6= 'shikha '
string_6= string_6*10
string_6

'shikha shikha shikha shikha shikha shikha shikha shikha shikha shikha '

In [60]:
len(string_6)

70

In [61]:
string_6= 'shikha '
len(string_6)

7

In [62]:
string1

'My name is Shikha'

In [63]:
string1[3]

'n'

In [64]:
string1[9]

's'

In [65]:
string1[12]

'h'

In [69]:
string1[len(string1)-2]

'h'

In [67]:
string1[-9]

'i'

In [68]:
string1[-10]

' '

###### Slicing

In [70]:
string1[0:4]

'My n'

In [71]:
string1[4:-1]

'ame is Shikh'

In [72]:
string1[3:7]

'name'

In [73]:
string1[-6:]

'Shikha'

In [74]:
string1[-10:3]

''

In [75]:
string1[-10:8]

' '

In [76]:
string1[-10:9]

' i'

In [77]:
string1[:]

'My name is Shikha'

In [78]:
string1

'My name is Shikha'

In [80]:
print(True*2)

2

In [81]:
poll_data=7,

In [82]:
type(poll_data)

tuple

### Type casting

In [83]:
s=20.00
s=int("20.00")
print(s)

ValueError: invalid literal for int() with base 10: '20.00'

In [84]:
r1=int(89)
s1=float(48)
print(r1)
print(s1)

89
48.0

In [85]:
r1=int(89)
s1=bool(r1)
print(r1)
print(s1)

89
True

In [87]:
r1=int(-34)
s1=bool(r1)
print(r1)
print(s1)

-34
True

In [88]:
r1=int(0)
s1=bool(r1)
print(r1)
print(s1)

0
False

In [92]:
r1=int(0)
s1=str(98)
print(r1)
print(s1)

0
98