_____Loops and Conditional Statements________

#if

#if else

#if elif else

#Nested if

In [2]:
if True:
    print('Shikha Kushwaha')

Shikha Kushwaha

In [3]:
if False:
    print('Shikha Kushwaha')
print('Done')

Done

In [4]:
if True:
    print('Shikha Kushwaha')
print('Done')

Shikha Kushwaha
Done

In [5]:
#Even numbers

x=6
r=x%2
if r==0:
    print('Even number')

Even number

In [6]:
x=5
r=x%2
if r==0:
    print('Even number')

##this code is wrong as it is not giving any output if condition is false

In [8]:
x=7
r=x%2
if r==0:
    print('Even number')
print('odd number')
##This is okay but not pro if condition is false

odd number

In [10]:
x=8
r=x%2
if r==0:
    print('Even number')
print('odd number')

##if condition is true then both block is printing

Even number
odd number

In [12]:
x=9
r=x%2
if r==0:
    print('Even number')
else:
    print('odd number')

##This is pretty good

odd number

In [14]:
x=10
r=x%2
if r==0:
    print('Even number')
if r==1:
    print('odd number')

##Multiple if

Even number

In [15]:
x=9
r=x%2
if r==0:
    print('Even number')
if r==1:
    print('odd number')

##Multiple if

odd number

In [16]:
##Instead of above we can write below code

x=9
r=x%2
if r==0:
    print('Even number')
if r!=0:
    print('odd number')

##but we see that many statements we use and due to which code optimization is very slow

odd number

___Code optimization___

##Because of multiple if , code will check all the conditions ,irrespective of condition is true or false and this leads to slowdown the execution speed.

##In order to correct this we implement else block with if.

##if we observe the code its too many line cuz many of the coder always they wanted to reduce the code lenght which is very good practise. instead of 2 if we can use if-- else

In [19]:
x=9
r=x%2
if r==0:
    print('Even number')
else:
    print('odd number')

##this is excellent

odd number

___Nested if___

##if we have 2 condition so we need to implment with nested if

In [21]:
x=5
r=x%2

if r==0:
    print("Even Number")
    if x>3:
        print("Hey Shikha! Greater number is:", x)
else:
    print('Odd Number')
##In this code we have implemented if inside if  block

Odd Number

In [22]:
x=8
r=x%2

if r==0:
    print("Even Number")
    if x>3:
        print("Hey Shikha! Greater number is:", x)
else:
    print('Odd Number')
##In this code we have implemented if inside if  block

Even Number
Hey Shikha! Greater number is: 8

In [23]:
x=2
r=x%2

if r==0:
    print("Even Number")
    if x>3:
        print("Hey Shikha! Greater number is:", x)
else:
    print('Odd Number')
##In this code only first if will excute nested will not as the nested if condition is false

Even Number

In [24]:
x = 6
r = x % 2

if r == 0:
    print('Even number')
    if x>5 :
        print('greater number')
    else:
       print('not greater ')
else:
    print('odd number')

Even number
greater number

In [25]:
x = 3
r = x % 2

if r == 0:
    print('Even number')
    if x>5 :
        print('greater number')
    else:
       print('not greater ')
else:
    print('odd number')

odd number

We do have concept of ( IF - ELIF- ELSE) 
e.g i want to print ( 1--> one , 2 --> two, 3--> three, 4--> four, 5- five)

#when you use if it will check all condition but if we mention elif then it wont check all condition

In [27]:
x = 5

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

##No output as no any condition is true.

In [28]:
x = 2

if x == 1:
    print('one')#Check
if x == 2:###########Execute
    print('Two')
if x == 3:##################Check########
    print('Three')
if x == 4:##################Check########
    print('four')

Two

In [29]:
x = 5

if x == 1:#Check
    print('one')
if x == 2:#Check
    print('Two')
if x == 3:#Check
    print('Three')
if x == 4:#Check
    print('four')
if x == 5:###########Execute
    print('five')
if x == 6:##################Check########
    print('Six')

five

##To avoid such situations and for code optimization we use elif else

In [30]:
x = 5

if x == 1:#Check
    print('one')
elif x == 2:#Check
    print('Two')
elif x == 3:#Check
    print('Three')
elif x == 4:#Check
    print('four')
elif x == 5:###########Execute
    print('five')
elif x == 6:#########----No Check-----########
    print('Six')

five

In [31]:
x = 7

if(x == 1):
    print('one')
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')

In [32]:
x = 7

if(x == 1):
    print('one')
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')
else:
    print('wrong output')

wrong output

In [33]:
x = 3

if(x == 1):
    print('one')
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')
else:
    print('wrong output')

Three

In [34]:
x = 10

if(x == 1):
    print('one')
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')
   
else:
    print('wrong output')

wrong output

__Short hand if__

In [36]:
a = 50
b = 40
if a > b: print("a is greater than b")##in one line combined print with if

a is greater than b

____LOOPS____

In [37]:
##if you want to print "Shikha Kushwaha" 5 times you can write like:-

print('Shikha Kushwaha')
print('Shikha Kushwaha')
print('Shikha Kushwaha')
print('Shikha Kushwaha')
print('Shikha Kushwaha')

Shikha Kushwaha
Shikha Kushwaha
Shikha Kushwaha
Shikha Kushwaha
Shikha Kushwaha

In [38]:
##But what if you want it 100 times or 1000 times then you need loops.

i = 1  #initialize
while i<=5: #condition
    print('data science')
    i=i+1 #value of i is incrementing

data science
data science
data science
data science
data science

In [39]:
i = 6
while i>=1:
    print("Shikha Kushwaha")
    i=i-1 #value of i is decrementing

Shikha Kushwaha
Shikha Kushwaha
Shikha Kushwaha
Shikha Kushwaha
Shikha Kushwaha
Shikha Kushwaha

In [40]:
i = 9
while i>=1:
    print("Shikha Kushwaha", i)
    i=i-1 #value of i is decrementing

Shikha Kushwaha 9
Shikha Kushwaha 8
Shikha Kushwaha 7
Shikha Kushwaha 6
Shikha Kushwaha 5
Shikha Kushwaha 4
Shikha Kushwaha 3
Shikha Kushwaha 2
Shikha Kushwaha 1

In [3]:
i = 9
while i>=1:
    print("Shikha Kushwaha", i)
    i=i-1 #value of i is decrementing

Shikha Kushwaha 9
Shikha Kushwaha 8
Shikha Kushwaha 7
Shikha Kushwaha 6
Shikha Kushwaha 5
Shikha Kushwaha 4
Shikha Kushwaha 3
Shikha Kushwaha 2
Shikha Kushwaha 1

In [ ]:
#i = 9
#while i>=1:
 #   print("Shikha Kushwaha", i)
  #  i=i+1 #value of i is incrementing

##never ever run this code as it will print the output infinite.

_______#Because, here i value is 9 and while loop checks i greater than equals to 1 which is true, but, here i is getting incrementing continously which leads 
#to infinite loop .........__________

In [5]:
i=1
while i<=6:
    print('Shikha')
    j =2
    while j<=7:
        print('Kushwaha')
        j=j+1

    i=i+1
    print()

Shikha
Kushwaha
Kushwaha
Kushwaha
Kushwaha
Kushwaha
Kushwaha

Shikha
Kushwaha
Kushwaha
Kushwaha
Kushwaha
Kushwaha
Kushwaha

Shikha
Kushwaha
Kushwaha
Kushwaha
Kushwaha
Kushwaha
Kushwaha

Shikha
Kushwaha
Kushwaha
Kushwaha
Kushwaha
Kushwaha
Kushwaha

Shikha
Kushwaha
Kushwaha
Kushwaha
Kushwaha
Kushwaha
Kushwaha

Shikha
Kushwaha
Kushwaha
Kushwaha
Kushwaha
Kushwaha
Kushwaha

In [7]:
i=1
while i<=6:
    print('Shikha ', end="")
    j =2
    while j<=7:
        print('Kushwaha ',end="")
        j=j+1

    i=i+1
    print()

Shikha Kushwaha Kushwaha Kushwaha Kushwaha Kushwaha Kushwaha
Shikha Kushwaha Kushwaha Kushwaha Kushwaha Kushwaha Kushwaha
Shikha Kushwaha Kushwaha Kushwaha Kushwaha Kushwaha Kushwaha
Shikha Kushwaha Kushwaha Kushwaha Kushwaha Kushwaha Kushwaha
Shikha Kushwaha Kushwaha Kushwaha Kushwaha Kushwaha Kushwaha
Shikha Kushwaha Kushwaha Kushwaha Kushwaha Kushwaha Kushwaha

In [8]:
i = 3
while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 3
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()

data science
technology
technology

data science
technology
technology

data science
technology
technology

In [9]:
i = 6
while i>=1:
    print('data science') # when we mention end then new line will not create
    j = 6
    while j>=1:
        print('technology')
        j = j - 1
        
    i = i - 1
    print()

data science
technology
technology
technology
technology
technology
technology

data science
technology
technology
technology
technology
technology
technology

data science
technology
technology
technology
technology
technology
technology

data science
technology
technology
technology
technology
technology
technology

data science
technology
technology
technology
technology
technology
technology

data science
technology
technology
technology
technology
technology
technology

In [10]:
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [12]:
# lets use while loop using some numbers
i = 1
while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [13]:
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [3]:
i = 0
word = 'Hello'
while i <= len(word):
    if i == 1:
        i = i + 1
    
    if i == 3:
        i = i + 1
    print(word[i])
    i = i + 1
    
#print(word)

#  skip 2 letters e and l in word--Hello

H
l
o

IndexError: string index out of range

In [41]:
word = 'Hello'

In [38]:
len(word)

5

In [5]:
n=int(input("Enter a number: "))
while n!=0:
    n=int(input("Enter zero to Quit: "))

Enter a number:  8
Enter zero to Quit:  5
Enter zero to Quit:  0

In [6]:
num = int(input("Enter a number: "))
b = 0
p = 1
n = num

while n>0:
    rem = n%2
    b += rem * p
    p = p*10
    n = n//2

print("Binary value: ",b)

#Binary number conversion

Enter a number:  89

Binary value:  1011001

In [7]:
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

___FOR Loop____

In [11]:
name='Shikha'
for i in name:
    print(i)

S
h
i
k
h
a

In [12]:
name2=[10,40,9.6,'Shikha']
for i in name2:
    print(i)

10
40
9.6
Shikha

In [13]:
for i in [2,8,9.4,'hello']:
    print(i)

2
8
9.4
hello

In [14]:
range(8)

range(0, 8)

In [15]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [16]:
for i in range(7,19):
    print(i)

7
8
9
10
11
12
13
14
15
16
17
18

In [17]:
for i in range(3,9):
    print(i)

3
4
5
6
7
8

In [18]:
for i in range(20):
    if i%8==0:
        print(i)

0
8
16

In [20]:
for i in range(20):
    if i%8!=0:
        print(i)

1
2
3
4
5
6
7
9
10
11
12
13
14
15
17
18
19

___Break, Continue and Pass___

BREAK STATEMNT - if you apply break statment in a loop then it will end the loop
# Pass = skips block of code( function, class etc)
# Continue= skips 1 step/iteration during loop 
# Break= jumps out of the function/loop

In [21]:
##Vending machine

x=int(input("How many chocolates do you need?"))
i=1
while i<=x:
    print('Chocolate')
    i+=1

How many chocolates do you need? 8

Chocolate
Chocolate
Chocolate
Chocolate
Chocolate
Chocolate
Chocolate
Chocolate

In [4]:
stock=5
x=int(input('How many chocolate you need:?'))
i=1
while i<=x and x<=stock:
    print('chocolates')
    i+=1

##In this if you want to show any out of stock message then you need to use if statement
##inside the while loop, this is possible only in python.

How many chocolate you need:? 5

chocolates
chocolates
chocolates
chocolates
chocolates

In [3]:
stock=5
x=int(input('How many chocolate you need:?'))
i=1
while i<=x:
     if x>stock:
        print('No stock') 
        break
     print('chocolates')
     i+=1
print("Code Executed")

How many chocolate you need:? 6

No stock
Code Executed

In [5]:
for i in range(3,11):
    print(i)

3
4
5
6
7
8
9
10

In [10]:
for i in range(3,11):
    if i==7:
        break
    print(i)

#to print 5 numbers in a given range

3
4
5
6

In [11]:
for i in range(1,15):
    if i==7:
        continue
    print('shikha',i)

shikha 1
shikha 2
shikha 3
shikha 4
shikha 5
shikha 6
shikha 8
shikha 9
shikha 10
shikha 11
shikha 12
shikha 13
shikha 14

In [17]:
for i in range(1,11):
    pass
    print(i)

1
2
3
4
5
6
7
8
9
10

In [19]:
for i in range(3,41):
    if i%3==0:
        print(i,end=" ")
print('end')

3 6 9 12 15 18 21 24 27 30 33 36 39 end

In [21]:
for i in range(3,41):
    if i%3==0:
        continue
    print(i,end=" ")
print('end')

4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 end

In [23]:
for i in range(3,41):
    if i%3==0 or i%7==0:
        continue
    print(i,end=" ")
print('end')

4 5 8 10 11 13 16 17 19 20 22 23 25 26 29 31 32 34 37 38 40 end

In [26]:
for i in range(3,41):
    if i%3==0 and i%7==0:
        continue
    print(i,end=" ")
print('end')

3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 end

In [30]:
for i in range(3,41):
    if i%3==0:
        continue
    print(i,end=" ")
print('end')

4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 end

In [32]:
# i dont want to print the values which are odd numbers that means print only even numbers
for i in range(1,51):
    
    if (i%2 == 0):
        pass
    else:
        print(i, end=" ")
print('bye')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 bye

__Pattern Printing__

$ $ $ $
$ $ $ $
$ $ $ $
$ $ $ $

In [33]:
print('$ $ $ $')
print('$ $ $ $')
print('$ $ $ $')
print('$ $ $ $')

$ $ $ $
$ $ $ $
$ $ $ $
$ $ $ $

In [34]:
for j in range(5):
    print('$')

$
$
$
$
$

In [35]:
for j in range(5):
    print('$',end=" ")
for i in range(5):
    print('$')

$ $ $ $ $ $
$
$
$
$

In [36]:
for j in range(5):
    print('$')
for i in range(5):
    print('$',end=" ")

$
$
$
$
$
$ $ $ $ $

In [53]:
for j in range(5):
    print('$')
for i in range(5):
    print('$',end=" ")

$
$
$
$
$
$ $ $ $ $

In [38]:
for j in range(5):
    print('$')
for i in range(5):
    print('$',end=" ")
for l in range(5):
    print('$')
    l-1
for k in range(5):
    print('$',end=" ")
    k-1

$
$
$
$
$
$ $ $ $ $ $
$
$
$
$
$ $ $ $ $

In [39]:
for j in range(4):
    print('$', end=" ")
    
print()
    
for j in range(4):
    print('$', end=" ")

$ $ $ $
$ $ $ $

In [40]:
for j in range(4):
    print('$', end=" ")
    
print()
    
for j in range(4):
    print('$', end=" ")
print()
for j in range(4):
    print('$', end=" ")
    
print()
    
for j in range(4):
    print('$', end=" ")

$ $ $ $
$ $ $ $
$ $ $ $
$ $ $ $

In [41]:
for i in range(7):
    for j in range(7):
        print('$', end=" ")
    print()

$ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $

In [42]:
list(range(5))

[0, 1, 2, 3, 4]

In [43]:
for i in range(5):
    for j in range(i):
        print('$',end=" ")
    print()

$
$ $
$ $ $
$ $ $ $

In [44]:
for i in range(5):
    for j in range(i+1):
        print('$',end=" ")
    print()

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $

In [45]:
for i in range(5):
    for j in range(i-1):
        print('$',end=" ")
    print()

$
$ $
$ $ $

In [47]:
for i in range(j+1):
    for j in range(5):
        print('$',end=" ")
    print()

$ $ $ $ $
$ $ $ $ $
$ $ $ $ $
$ $ $ $ $
$ $ $ $ $

In [54]:
for i in range(4):
    for j in range(i+1):
        print('#', end="  ")
    print()

#
#  #
#  #  #
#  #  #  #

In [57]:
for i in range(8):
    for j in range(8-i):
        print('#', end="  ")
    print()

#  #  #  #  #  #  #  #
#  #  #  #  #  #  #
#  #  #  #  #  #
#  #  #  #  #
#  #  #  #
#  #  #
#  #
#

In [64]:
for i in range(4):
    for j in range(i+1):
        for i in range(4):
            for j in range(4-i):
                print('#', end="  ")
            print()

#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#

In [74]:
for i in range(4):
    for j in range(i+1):
        print('#', end="  ")
    for i in range(4):
        for j in range(4-i):
        print('#', end="  ")
        print()

IndentationError: expected an indented block after 'for' statement on line 5 (649512634.py, line 6)

In [79]:
for i in range(8):
    for j in range(i+1):
        print('$',end=" ")
    print()
for i in range(8):
    for j in range(8-i+1):
        print('$', end=" ")
    print()

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $
$ $ $ $
$ $ $
$ $

In [93]:
for i in range(19):
    for j in range(i+1):
        print('$',end=" ")
    print()
for i in range(5):
    for j in range(5-i):
        print('$')
for i in range(8):
    for j in range(i):
        print('$')

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$

In [112]:
for i in range(19):
    for j in range(i):
        print('$',end=" ")
    print()
for i in range(6):
    for j in range(i):
        print('$')

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$

In [111]:
for i in range(4):
    for j in range(i+1):
        for i in range(4):
            for j in range(4-i):
                print('#', end="  ")
            print()

#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#

In [103]:
for i in range(4):
    for j in range(i):
        for i in range(4):
            for j in range(4-i):
                print('#', end="  ")
            print()

#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#
#  #  #  #
#  #  #
#  #
#

In [107]:
for i in range(4):
    for j in range(i):
        for i in range(4):
    for j in range(4-i):
        print('#', end="  ")
        print()

IndentationError: expected an indented block after 'for' statement on line 3 (3911644357.py, line 4)

In [114]:
for s in range(19):
    for d in range(s):
        print('$',end=" ")
    print()
for s in range(6):
    for d in range(s):
        print('$')

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$
$
$
$
$
$
$
$
$
$
$
$
$
$
$

In [119]:
for s in range(19):
    for d in range(s):
        print('$',end=" ")
    print()
for s in range(6):
    for d in range(s):
        print('  $')

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
  $
  $
  $
  $
  $
  $
  $
  $
  $
  $
  $
  $
  $
  $
  $

In [134]:
for s in range(19):
    for d in range(s):
        print('$',end=" ")
    print()
for s in range(6):
    for d in range(s):
        print('  $')
for i in range(j+1):
    for j in range(4):
        print('$$$$',end="")
    print()

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
  $
  $
  $
  $
  $
  $
  $
  $
  $
  $
  $
  $
  $
  $
  $
$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$

___For Else___

In [136]:
nums = [12,15,18,21,26]
for num in nums:
    if num % 5 == 0:
        print(num)

15

In [137]:
nums = [12,14,18,21,25,30,35]
for num in nums:
    if num % 5 == 0:
        print(num)

25
30
35

In [138]:
nums = [12,14,18,21,25,20]
for num in nums:
    if num % 5 == 0:
        print(num)

25
20

In [139]:
nums = [12,14,18,21,25,20]
for num in nums:
    if num % 5 == 0:
        print(num)  
        break

25

In [140]:
nums = [12,14,18,21,20,25]
for num in nums:
    if num % 5 == 0:
        print(num)  
        break

20

In [141]:
nums = [10,14,18,21,5,10]
for num in nums:
    if num % 5 == 0:
        print(num)  
        break #it will print only 1 number then it break

10

In [143]:
nums = [7,14,18,21,23,27] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        break

In [144]:
nums = [7,14,18,21,23,27] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        break
    else:
        print('Number Not Found') #every iteration it cheking condition

Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found

In [145]:
nums = [7,14] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        break
    else:
        print('Number Not Found') #every iteration it cheking condition

Number Not Found
Number Not Found

In [146]:
nums = [7,14,18,21,23,27] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Number Not Found') # hear else we dont write in if block but we can write in for block only

Number Not Found

In [149]:
nums = [10,14,18,21,20,27] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        #break
else:
        print('Not Found')

10
20
Not Found

In [150]:
nums = [10,14,18,21,20,27,30] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        #break
else:
        print('Not Found')

10
20
30
Not Found

In [151]:
nums = [10,14,18,21,20,27] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Not Found')

10

In [152]:
num = 12
for i in range(2,num):
    if num % i == 0:
        print('Not prime Number')
        break
else:
    print('Prime Number')

Not prime Number

In [153]:
num = 13
for i in range(2,num):
    if num % i == 0:
        print('Not prime Number')
        break
else:
    print('Prime Number')

Prime Number

In [154]:
from array import * 
arr = array('i',[])

n = int(input('Enter the length of the array'))

for i in range(5):
    x = int(input('Enter the next value'))
    arr.append(x)
print(arr)

Enter the length of the array 4
Enter the next value 5
Enter the next value 6
Enter the next value 7
Enter the next value 8
Enter the next value 4

array('i', [5, 6, 7, 8, 4])

In [155]:
from array import * 
arr = array('i',[])

n = int(input('Enter the length of the array'))

for i in range(5):
    x = int(input('Enter the next value'))
    arr.append(x)
print(arr)

Enter the length of the array 5
Enter the next value 6
Enter the next value 3
Enter the next value 2
Enter the next value 4
Enter the next value 5

array('i', [6, 3, 2, 4, 5])

In [162]:
from array import * 
arr = array('i',[])

n = int(input('Enter the length of the array'))

for i in range(n):
    x = int(input('Enter the next value'))
    arr.append(x)
print(arr)

Enter the length of the array 8
Enter the next value 12
Enter the next value 3
Enter the next value 4
Enter the next value 5
Enter the next value 6
Enter the next value 7
Enter the next value 3
Enter the next value 2

array('i', [12, 3, 4, 5, 6, 7, 3, 2])

In [163]:
from numpy import *
arr = array([1,2,3,4,5])
print(arr)
type(arr)

[1 2 3 4 5]

numpy.ndarray

In [164]:
print(arr.dtype)

int32

In [165]:
arr = array([1,2,3,4,5.9])
print(arr)

[1.  2.  3.  4.  5.9]

In [166]:
print(arr.dtype)

float64

In [167]:
arr2 = array([1,2,3,4,5.9],float)
arr2

array([1. , 2. , 3. , 4. , 5.9])

In [168]:
arr3 = array([1,2,3,4,5.6],int)
arr3

array([1, 2, 3, 4, 5])

In [169]:
import numpy as np

In [170]:
arr4 = np.linspace(0, 16, 10) # break the code between 10 spaces between 0 to 16 but why decimal becuase we break into parts thats why it is floats
arr4

array([ 0.        ,  1.77777778,  3.55555556,  5.33333333,  7.11111111,
        8.88888889, 10.66666667, 12.44444444, 14.22222222, 16.        ])

In [171]:
arr5 = np.arange(0,10,2) # arange - as range
arr5

array([0, 2, 4, 6, 8])

In [172]:
arr6 = np.zeros(5)
arr6

array([0., 0., 0., 0., 0.])

In [173]:
arr7 = np.ones(5)
arr7

array([1., 1., 1., 1., 1.])